<ul name="readability_scores">
  <li>Automated Readability Index <div class="box">{{ra.automated_readability_index}}  </div>      </li>
  <li>Coleman Liau Index          <div class="box">{{ra.coleman_liau_index}}           </div>      </li>
  <li>Flesch Kincaid Grade Level  <div class="box">{{ra.flesch_kincaid_grade_level}}   </div>      </li>
  <li>Flesch Kincaid Reading Ease <div class="box">{{ra.flesch_kincaid_reading_ease}}  </div>      </li>
  <li>Gunning Fog Score           <div class="box">{{ra.gunning_fog_score}}            </div>      </li>
  <li>SMOG Index                  <div class="box">{{ra.smog_index}}                   </div>      </li>
  <li>Dale Chall Readability Score<div class="box">{{ra.dale_chall_readability_score}} </div>      </li>
  <li>Difficult Words             <div class="box">{{ra.difficult_words}}              </div>      </li>
  <li>Linsear Write Formula       <div class="box">{{ra.linsear_write_formula}}        </div>      </li>
  <li>Text Standard               <div class="box">{{ra.text_standard}}                </div>      </li>
</ul>
