
<div id="readability">
  <ul name="readability_scores">
    <li>Automated Readability Index <div class="box">{{(scoreObs | async)?.automated_readability_index}}  </div>      </li>
    <li>Coleman Liau Index          <div class="box">{{(scoreObs | async)?.coleman_liau_index}}           </div>      </li>
    <li>Flesch Kincaid Grade Level  <div class="box">{{(scoreObs | async)?.flesch_kincaid_grade_level}}   </div>      </li>
    <li>Flesch Kincaid Reading Ease <div class="box">{{(scoreObs | async)?.flesch_kincaid_reading_ease}}  </div>      </li>
    <li>Gunning Fog Score           <div class="box">{{(scoreObs | async)?.gunning_fog_score}}            </div>      </li>
    <li>SMOG Index                  <div class="box">{{(scoreObs | async)?.smog_index}}                   </div>      </li>
    <li>Dale Chall Readability Score<div class="box">{{(scoreObs | async)?.dale_chall_readability_score}} </div>      </li>
    <li>Difficult Words             <div class="box">{{(scoreObs | async)?.difficult_words}}              </div>      </li>
    <li>Linsear Write Formula       <div class="box">{{(scoreObs | async)?.linsear_write_formula}}        </div>      </li>
    <li>Text Standard               <div class="box">{{(scoreObs | async)?.text_standard}}                </div>      </li>

  </ul>
</div>
<div id="inputtext">
<textarea  #inputtext (keyup)="calculate_readability(inputtext.value)" rows="34" cols="70" placeholder="Type text here...">
</textarea>
</div>
